.PlanPage {
    padding: 2vh 4vh 2vh 4vh;
    display: flex;
    flex-direction: column;
}

@media (min-width: 769px) {
    .PlanPage {
        margin-left: 300px;
    }
}

.quoteContainer { 
    background: rgb(2,0,36);
    background: linear-gradient(129deg, rgba(2,0,36,1) 0%, rgba(61,13,25,1) 42%, rgba(47,130,147,1) 100%);
    border-radius: 8px;
    padding: 20px 20px 20px 20px;
    text-align: center;
    color: white;
    margin: 5px 0px 15px 0px;
    max-width: 600px;
}

.quote {
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 500;
}

.author {
    font-size: 20px;
}