.App {
  width: 100vw;
  height:  100vh;
  display: flex;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

#root {
  height: 100%;
}

.btn-toggle {
  cursor: pointer;
  width: 35px;
  height: 35px;
  background: #000000;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  display: none;
  margin: 10px 10px 10px 10px;
}

.menuItem {
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
  border-radius: 5px;
  text-align: left;
  background-color: #000000;
  color: #fff;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
}

.menuItem:hover {
  border: none;
  background-color: rgb(77, 77, 77);
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.menuItem:active {
  border: none;
  background-color: rgb(77, 77, 77);
  text-decoration: none;
  color: rgb(255, 255, 255);
  transform: translateY(4px);
}

@media (max-width: 768px) {
  .btn-toggle {
    display: flex;
  }
}

.addButton {
  margin-left: 10px;
  margin-bottom: 5px;
  padding: 0;
  border: 0;
  vertical-align: middle;
}

.addButton:active {
  transform: translateY(4px);
}

th {
  text-align: left;
  border-bottom: 1pt solid black;
  font-size: 20px;
}

tr:nth-child(even) {background-color: #c4c4c4;}

.theTable {
  border-collapse: collapse;
  max-width: 1000px;
}

th, td {
  padding: 10px;
}

.notDoneButton {
  background-color: transparent;
  color: white;
  font-size: 15px;
  font-weight: 800;
  background-color: black;
  border: 3px solid black;
  border-radius: 8px;
  text-align: center;
  padding: 4px 10px 4px 10px;
  width: 100px;
}

.notDoneButton:active {
  transform: translateY(2px);
}

.doneButton {
  background-color: transparent;
  color: black;
  font-size: 15px;
  font-weight: 800;
  background-color: white;
  border: 3px solid black;
  border-radius: 8px;
  text-align: center;
  padding: 4px 10px 4px 10px;
  width: 100px;
}

.doneButton:active {
  transform: translateY(2px);
}

.buttonColumn {
  width: 120px;
}

.dateColumn {
  width: 100px;
}
